{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <h1>Edit Artist</h1>

    <form name="artist" method="post">
        {{ form_widget(form) }} {# Génère automatiquement le token CSRF #}
        <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
    </form>

    <a href="{{ path('app_artist_index') }}">back to list</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
